@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .landing {
  background: url('~assets/images/landing.gif');
} */
.playfair {
  font-family: 'Playfair Display', serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.header-text {
  @apply lg:text-5xl text-3xl font-medium mb-2 text-dark-blue;

  font-family: 'Roboto', sans-serif;
}
.sub-text {
  font-family: 'Roboto', sans-serif;

  @apply text-dark-700 font-normal text-lg;
}
body.el-popup-parent--hidden .v-modal{
  z-index: 0 !important;
}
body.el-popup-parent--hidden .el-drawer.rtl{
  width : 70% !important;
  @apply bg-gray-200 text-dark-blue !important;

}



